body {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
}

h2, h3 {
    font-family: 'Montserrat-Bold', sans-serif !important;
}

h2 {
    line-height: 1.5 !important;
}

p {
    color:#8f8f8f imr !important;
}

/* Heading */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif !important;    
    font-size: 3.5rem !important;
    line-height: 1.5 !important;    
    font-weight: 900 !important;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.container-large {    
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem !important;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: bold !important;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-Light', sans-serif !important;
    font-size: 1.2rem !important;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;    
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172 !important;  
    margin-bottom: 1rem;  
}

.icon:hover {
    color: #ff4c68 !important;
}

.features-title {
    font-size: 1.5rem !important;
    font-weight: 900 !important;
}

/* Testimunial Section */

#testimonials {    
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;   
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to Action Section */

#cta {
    background-color: #ff4c68;
    padding: 50px 0;
}

.cta-heading {
    font-family: "Montserrat-Black", sans-serif !important;
    color: white;    
    font-size: 3rem !important;
    margin: 0 200px; 
}

/* Footer Section */

#footer {    
    margin: 50px auto;
    background-color: #fff;
}

#footer a i{
    font-size: 1.5rem !important;
    padding-left: 1rem;
    color: black;
}

#footer p {    
    margin: 15px 0;
    
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 70%;
        transform: rotate(0);
    }
}